<?xml version="1.0"?>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-HelloStackify.Web-20141021091613.mdf;Initial Catalog=aspnet-HelloStackify.Web-20141021091613;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


