@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    9201 Ward Parkway<br />
    Suite 302<br />
    Kansas City, MO 64114
    <abbr title="Phone">P:</abbr>
    816.888.5055
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@stackify.com">Support@stackify.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Sales@example.com">Sales@example.com</a>
</address>